# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Read and evaluate the following problem statement: 
Determine which free-tier customers will convert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer usage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: Whether free-tier customers will "convert" to become paying customers for the Hooli service

#### 2. What are the predictors/covariates?

Answer: The predictors/covariates of this data set are: the demographic profile of the free-tier customer (age, gender, location and profession) and the usage patterns of that user (the number of days since last login and how they have been evaluated for their activity level (active=1, inactive=0)).

#### 3. What timeframe is this data relevant for?

Answer: The data set provided is Hooli data from January 2015 to April 2015

#### 4. What is the hypothesis?

Answer: That given these provided data we will be able to accurately estimate what drives free-tier users to become paying customers. I hypothesize that different age, gender, location, professional and usage amounts have different rates of converting.

## Let's get started with our `admissions.csv` dataset

#### 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
*Admit* | 0 = not admitted to the program 1 = admitted to the program, this is our binary target variable and is the outcome of the admissions data set | binary
*GRE* | the GRE score of the candidate (stands for Graduate Record examinations - is a standardized exam for graduate school entrance and application)  | continuous
*GPA* | the GPA score of the candidate (stands for grade point average, an average taken across all classes of the candidate in their undergraduate schooling) | continuous
*Prestige* | the ranking of an applicant's undergraduate school | discrete

We would like to explore the association between X and Y

#### 2. What is the outcome?

Answer: Whether the candidate was admitted to the undergraduate program that they applied to

#### 3. What are the predictors/covariates?

Answer: The predictors of this data set are: *GRE*, *GPA*, and *Prestige*. *GRE* is a continuous variable that is the score the candidate had on their graduate record exams. The *GPA* is also a continuous variable that is the grade point average of the candidate during their undergraduate experience. *Prestige* is a discrete variable and is a categorical ranking of the candidate's undergraduate institution.

#### 4. What timeframe is this data relevant for?

Answer: There is no noted date range for this data set, but we can assume this is for one graduate school and one class of students.

#### 5. What is the hypothesis?

Answer: One could hypothesize that that the stronger the GRE, GPA, and prestige levels that would increase one's chances of being admitted in graduate school. We think that there may be some predictors that are more useful than others.

#### 6. Using the above information, write a well-formed problem statement.

Answer: Using admissions data from UCLA, we are looking to predict whether an applicant will be admitted based on their GRE, GPA, and rank from their undergraduate institution.We will test whether some of the predictors are more important than other predictors when making an admission prediction.

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: The goals of the exploratory analysis are to determine whether the data set:is cross sectional or longitudinal, is missing any values,is needing any aggregation, has outliers, has a data dictionary, has a structure and if so, and what type of data it contains.

#### 2a. What are the assumptions regarding the distribution of the data?

Answer: In order to do a logistic regression, we are assuming that the data set is normally distributed

#### 2b. How will you determine the distribution of your data?

Answer: One could use the describe function in pandas to get an idea of the average, standard deviation, and quartiles of the data set. One could also plot a histogram or boxplot of the data to see it's shape.

#### 3a. How might outliers impact your analysis?

Answer: Outliers will impact the analysis at the most fundamental level by skewing any computed averages. When running a logistic regression, this will cause an over or underestimation of the predictor variables.

#### 3b. How will you test for outliers?

Answer: There are many ways one could test for outliers with this data set. One could do domain specific sampling, for example, to filter out any GPA or GRE scores that would be outside of a feasible range (ie. GRE >800 or GPA>5). A non-domain specific test one could do for outliers is a normality test such as the Shapiro Wilk to determine the probability that a sample of the data set is within the confidence range of that data set.

#### 4. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer: In order to analyze this data set, we will:
0. Write a data dictionary
1. Use the describe function on the data set to see the mean, count, standard deviation, minimum value, max value, and quartiles of the data set
2. Use the info function to determine the shape of the data set and if there are any missing values
3. Visualize the data set with a histogram in order to do a visual check on whether the data is normally distributed
4. Visualize the data set to see if there are any relationships between predictors in the data set with each other and the outcome
5. Aggregate using group by functions in pandas
6. Test the normality of the data set and filter out any outliers using an agreed upon statistical significance (0.05 or 0.01)
7. Once this is done, create dummy variables from the prestige variable so that it may be used for regression

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model

## 1. Analysis Method

1. Import data set
2. Clean data using previously described EDA plan
    0. Write a data dictionary
    1. Use the describe function on the data set to see the mean, count, standard deviation, minimum value, max value, and quartiles of the data set
    2. Use the info function to determine the shape of the data set and if there are any missing values
    3. Visualize the data set with a histogram in order to do a visual check on whether the data is normally distributed
    4. Visualize the data set to see if there are any relationships between predictors in the data set with each other and the outcome
    5. Aggregate using group by functions in pandas
    6. Test the normality of the data set and filter out any outliers using an agreed upon statistical significance (0.05 or 0.01)
    7. Once this is done, create dummy variables from the prestige variable so that it may be used for regression
3. Reiterating the creation of dummy variables as from the prestige variable since it is discrete
4. Fit logistic regression

## 2. Alternative Problem Statement & Risks

Original: Using admissions data from UCLA, we are looking to predict whether an applicant will be admitted based on their GRE, GPA, and rank from their undergraduate institution.We will test whether some of the predictors are more important than other predictors when making an admission prediction.
Alternative: We are looking to determine what factors are most important for gaining admittance to graduate school. To determine how important some are in predicting admittance, we will be using gre, gpa and rank scores of applicants from a UCLA data set to determine if any of these predictors are useful and to what degree they are.

## 3. Assumptions and risks of alternative model

Risks: The risks of of this model is that is opens the door to needing to procure other data sets since it frames the problem as these variables or those we haven't considered. One looking to critique the alternative problem statement may say that it is very easy to ask for more data to be considered.

Assumptions: We are assuming that the data is normally distributed and has no key missings or outliers that severely skew an analysis of the data set by doing a logistic regression. In preparation of this analysis, we are also assuming that logistic regression is the best predictive model to use.

## Code of used to explore data set when answering homework questions

In [2]:
#Standard libs
import numpy as np
import pandas as pd

In [3]:
#Importing our admissions data set
admissions= pd.read_csv('/Users/scottonigman/Desktop/GA/homework/sonigman-dat-GA-HW/SONIGMAN - Project 1/assets/admissions.csv')
admissions.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [4]:
admissions.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

In [5]:
#Evaluate the standard deviation of each variable
print admissions.std()

admit         0.466087
gre         115.628513
gpa           0.380630
prestige      0.945333
dtype: float64

In [6]:
#Glance at some initial proportions
print pd.crosstab(admissions['admit'],admissions['gpa'],rownames=['admit'])
#Seems a bit silly givent that there were 132 unique GPAs

gpa    2.26  2.42  2.48  2.52  2.55  2.56  2.62  2.63  2.65  2.67  ...   3.90  \
admit                                                              ...
0         1     1     1     1     1     1     1     1     0     1  ...      2
1         0     1     0     0     0     0     1     0     1     1  ...      1

gpa    3.91  3.92  3.93  3.94  3.95  3.97  3.98  3.99  4.00
admit
0         1     2     1     4     1     1     0     2    15
1         0     0     0     1     4     0     1     1    13

[2 rows x 132 columns]

In [7]:
#Glance at some initial proportions
print pd.crosstab(admissions['admit'],admissions['gre'],rownames=['admit'])
#Seems a bit silly given that there were 26 unique GREs

gre    220.0  300.0  340.0  360.0  380.0  400.0  420.0  440.0  460.0  480.0  \
admit
0          1      2      3      4      8      9      7      8      9     10
1          0      1      1      0      0      2      0      2      4      6

gre    ...    620.0  640.0  660.0  680.0  700.0  720.0  740.0  760.0  780.0  \
admit  ...
0      ...       18     16     12     11     17      8      7      1      1
1      ...       12      5     12      9      5      3      4      4      4

gre    800.0
admit
0         14
1         11

[2 rows x 26 columns]

In [8]:
#Glance at some initial proportions
print pd.crosstab(admissions['admit'],admissions['prestige'],rownames=['admit'])

prestige  1.0  2.0  3.0  4.0
admit
0          28   97   93   55
1          33   53   28   12

In [9]:
admissions.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x117134410>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x119762f50>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x1197f7150>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11982df90>]], dtype=object)

In [15]:
dummy_ranks = pd.get_dummies(admissions['prestige'],prefix='prestige')
print dummy_ranks.head()

   prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0             0             0             1             0
1             0             0             1             0
2             1             0             0             0
3             0             0             0             1
4             0             0             0             1

In [16]:
dummy_ranks.describe()

       prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
count    400.000000    400.000000    400.000000    400.000000
mean       0.152500      0.375000      0.302500      0.167500
std        0.359955      0.484729      0.459916      0.373889
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.000000      1.000000      1.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000

In [23]:
#non prestige columns
non_prestige=['admit','gre','gpa']
admissions_dummied = admissions[non_prestige].join(dummy_ranks.ix[:,'prestige_2':])
#when this code was run the first time, got a message saying ix was deprecated
#selecting from prestige 2 onwards and all rows within the join

In [24]:
admissions_dummied.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

In [25]:
admissions_dummied['int'] = 1.0
#why is the intercept one in this example?

In [26]:
admissions_dummied.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0  int
0      0  380.0  3.61             0             1             0  1.0
1      1  660.0  3.67             0             1             0  1.0
2      1  800.0  4.00             0             0             0  1.0
3      1  640.0  3.19             0             0             1  1.0
4      0  520.0  2.93             0             0             1  1.0